body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    position: relative;
    overflow: hidden;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/tex.png');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
    z-index: -1;
}